<h1>New short url</h1>


<%= form_for @url, url: { action: 'create' } do |f| %>
  <p>
    <%= f.label :original %>
    <%= f.text_field :original %>
  </p>
  <p>
    <%= f.label :short_code %>
    <%= f.text_field :short_code %>
  </p>

  <%= f.submit "Submit dat shit" %>
<% end %>
